@font-face {
  font-family: logoFont;
  src: url('./Fasthand-Regular.ttf')
}

a[role="button"] {
  padding: 5px 10px;
}

.delete {
  color: rgb(217, 74, 74);
  font-weight: 900;
  cursor: pointer;
}

.logo {
  font-family: logoFont; 
  text-decoration: underline;
  transform: rotate(-5deg);
  transition: 0.5s;
  cursor: pointer;
}

.logo:hover {
  transform: rotate(-4deg);
}